/* GENERAL */
body {
    height: 100%;
    width: 100%;
}


.shown_logo {
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;

}

.shown_logo:hover, .shown_logo:focus {
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;

        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
}

nav {
    height: 90px; /* Main nav bar height of 40 and submenu nav bar of 60 = 100 */
    height: 50px;
    padding-bottom: -50px !important;
    position: fixed;
    top: 0;
    width: 100%;
    background: #222222;
    z-index: 9999;
    display: none;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;    
}
    .right-side-nav-items {   
        display: inline;
        position: fixed;
        margin-top: 7.5px;
        right: 1%;
        z-index: 99999;
    }
    .right-side-nav-items a {
        color: #fcfcfc;
        margin: 0 10px;
        text-decoration: none;
        font-weight: 200;
        font-size: 15px;
        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;            
    }
        .right-side-nav-items a:hover, .right-side-nav-items a:focus {
            color: #5189B4;
            -o-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;                
        }
    .active_item {
        font-weight: 900;
        padding-bottom: 5px;
        color: #fcfcfc !important;
        border-bottom: 2px solid #fcfcfc;
    }
    .active_item:hover {
        padding-bottom: 5px;
        color: #5189B4 !important;
        border-bottom: 2px solid #5189B4;
    }

.selected_nav_link {
    font-weight: bold;
    color: #fcfcfc !important;    
}

.temp_nav {
    z-index: 9999999;
    width: 100%; background: rgba(34, 34, 34, 0.8); height: 38px; /* height is normally 40, but offset by 2px to match up with pixel perfection */
    margin: 0; text-align: center; font-weight: 400; box-shadow-bottom: 0px solid #000;
}
.temp_nav a {
    text-transform: uppercase;
    font-size: 0.7em;
    position: relative;
    top: 3px;
    text-decoration: none;
    margin: 0 10px;
    color: #e5e5e5;
}
.main_temp_nav a {
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;        
}
    .temp_nav a:hover, .temp_nav a:focus {
        text-transform: uppercase;
        font-size: 0.7em;
        position: relative;
        top: 3px;
        text-decoration: none;
        color: #fcfcfc;

        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;            
    }

/* HERO CONTAINER */
#hero_wrapper {
    background: #062643;
    text-align: center;
    background: url("../img/backgrounds/chicago10(1440).jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}


/* ------- MAIN MEATY CSS ------- */
.black {
    color: #222222;
}
.clear-both {
    clear: both;
}
.center {
    text-align: center;
}

/* ------- /MAIN MEATY CSS ------- */





/* APPLY DIV */
.apply_div {
    text-align: center;
    padding: 100px 0;
    width: 100%;
    background: url("../img/backgrounds/chicago14(1440).jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
.apply_div h2 {
}

.apply_div div a .button_white-blue_solid {
    padding: 30px 120px;
}

/* /APPLY DIV */

    /* RESPONSIVE APPLY DIV (aka 'Enter email to preview curriculum') */
    @media only screen and (max-width: 580px) {
        .apply_div {
            padding: 100px 5%;
            width: 90%;   
        }
        .apply_div h2 {
        }
        .apply_div div form .submit_field {
            width: 190px !important;
            margin: 0 auto;
            text-align: center;
            border-radius: 0px !important;
        }
        .apply_div div form .button_subscribe {
            padding: 15px 50px;
            margin: 0 auto;
            left: 0;
            margin: 5px;
            margin-top: 10px !important;
            border-radius: 5px;
            text-align: center;
        }
    }
    /* /RESPONSIVE APPLY DIV (aka 'Enter email to preview curriculum') */


/* SUBSCRIBE DIV */
.button_subscribe {
    font-family: "futura-pt";
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 15.5px 50px;
    font-size: 1em;
    /* Colors */
    background:#4EBD8D;
    border:1px solid #4EBD8D;
    color: #fcfcfc;
    left: 5px;
    font-weight: bold;

    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;   
}
    .button_subscribe:hover {
        color: #fcfcfc;
        background: #4EBD8D;
        cursor: pointer;
        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;

        -webkit-transform: scale(1.05, 1);
        -moz-transform: scale(1.05, 1);
        -ms-transform: scale(1.05, 1);
        -o-transform: scale(1.05, 1);
        transform: scale(1.05, 1);           
    }
    .button_subscribe:active, .button_subscribe:focus {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1); 
    }       
/* /END SUBSCRIBE DIV */





@media only screen and (max-width: 580px) {
    h2 {
        font-size: 1.9em;
    }
}



/* SUBMENU RESPONSIVE QUERIES */
@media only screen and (max-width: 630px) {
    /* JUST HIDING THE ENTIRE TEMP NAV and SUBMENU-NAV-ON-SCROLL WHEN SCREEN IS SMALL */
    nav div, .temp_nav {
        display: none;
    }
}
@media only screen and (max-width: 580px) {
    .temp_nav a, .temp_nav span {
        font-size: 0.7em;
        top: 3px !important;
    }    
}
@media only screen and (max-width: 480px) {
    .temp_nav a, .temp_nav span {
        font-size: 0.6em;
        margin: 0 1% !important;
        top: -0px !important;
        line-height: 0 !important;
        padding: 0 !important;
    }        
        .temp_nav a:hover {
            font-size: 0.6em;
        }
    .temp_nav span {
        display: none;
    }
    .question_container {
        width: 90%; margin: 0 auto;
        padding: 0px 5%;
        padding-top: 1.45em;
    }

}

@media only screen and (max-width: 314px) {
    .temp_nav a:nth-child(9), .temp_nav span:nth-child(10) {
        top: -5px !important;
    }

}

@media only screen and (max-width: 258px) {
    .temp_nav a:nth-child(7), .temp_nav span:nth-child(8) {
        top: -5px !important;   
    }
}